@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Stylish&display=swap');

html {
  font-family: 'Jua';
  font-size-adjust: none;
  --white: #ffffff;
}

nav {
  display: flex;
  padding: 20px 40px;
  background: rgba(0, 0, 0, .9);
}
nav img {
  filter: invert(.9);
  opacity: .9;
  height: 50px;
}
nav div:first-child {
  margin-right: auto;
}
nav ul {
  list-style: none;
  font-family: 'Jua';
  font-size: 24px;
  line-height: 50px;
  display: flex;
  margin: 0px;
}
nav li {
  min-width: 150px;
  text-align: center;
  height: 50px;
  color: var(--white);
}